* {
    box-sizing: border-box;
    font-family:Roboto;
}


main {
    margin-top: 100px;
}

main img {
    width: 50%;
    max-width: 600px;
}

form {
    margin-top: 40px;
}
.botones{
    display: flex;
    margin-bottom: 50px;
}
    .borrar{
        margin-left: 20px;
    }
    .editar{
        margin-left: 20px;
    }
    form{
        margin: 0;
    }

.listadoDeProductos a, form a, button {
    background-color: rgb(11, 130, 204);
    border: solid 1px rgb(11, 130, 204);
    border-radius: 3px;
    padding: 3px 6px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

