<!DOCTYPE html>
<html>

<%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/listProducts.css">

    <body>

        <%- include ('../partials/header') %>

            <main class="main">


                <h1>Detalle del producto</h1>
                <%- include ('../partials/product') %>
                </section>
            </main>
            <%- include ('../partials/footer') %>


    </body>

</html>