<!DOCTYPE html>
<html>

    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/listProduct.css">

    <body>

        <%- include ('../partials/header') %>

           <main class="main">
           <h1>Soy listado de productos</h1>
            

            </main>
            <%- include ('../partials/footer') %>


    </body>

</html>