<!DOCTYPE html>
<html>

<%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/editProduct.css">

    <body>

        <%- include ('../partials/header') %>

            <main class="main">
                <h3>Alta de productos</h3>
                <form action="/products" method="POST" enctype="multipart/form-data">
                    <div class="campo">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" >
                    </div>
                    <div class="campo">
                        <label for="descrip">Descripción</label>
                        <input type="text" name="descrip">
                    </div>
                    <div class="campo">
                        <label for="image">Imagen</label>
                        <input type="file" name="image">
                    </div>
                    <div class="campo">
                        <label for="categoria">Categoría</label>
                        <input type="text" name="categoria" >
                    </div>
                    <div class="campo">
                        <label for="cantHabitaciones">Cantidad de Habitaciones</label>
                        <input type="text" name="cantHabitaciones"  class="habit">
                    </div>
                    <div class="campo">
                        <label for="price">Precio</label>
                        <input type="number" name="price"  class="precio">
                    </div>
                    <div class="campo">
                        <label for="location">Ubicacion</label>
                        <input type="text" name="ubicacion">
                    </div>
                    <div class="campo">
                        <label for="city">Ciudad</label>
                        <input type="text" name="ciudad">
                    </div>
                    <div class="campo">
                        <label for="terms">Condiciones</label>
                        <input type="text" name="condiciones">
                    </div>
                   <div class="campo">
                        <label for="servicios">Servicios:</label> <br>
                        <input type="checkbox" name="servicios" value="wifi">
                        <label for="servicios">Wi-fi</label> 
                        <br>
                        <input type="checkbox" name="servicios" value="pileta">
                        <label for="servicios">Pileta</label>
                        <br>
                        <input type="checkbox" name="servicios" value="estacionamiento"> 
                        <label for="servicios">Estacionamiento</label>
                        <br>
                        <input type="checkbox" name="servicios" value="parrilla"> 
                        <label for="servicios">Parrilla</label>
                        <br>
                        <input type="checkbox" name="servicios" value="aireacondicionado">
                        <label for="servicios">Aire acondicionado</label>
                         <br>
                    </div>
                    

                    <button type="submit" class="button">Confirmar</button>
                </form>


            </main>
            <%- include ('../partials/footer') %>


    </body>

</html>